* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  .content {
    width: 100%;
    padding-top: 40px; /* distância do topo da página */
    text-align: center; /* centraliza o conteúdo horizontalmente */
}

.title h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #8087FE;
}

.title p {
    font-size: 16px;
    color: #8087FE;
}

.btn-add {
    display: inline-block;
    padding: 12px 24px;
    background-color: #8087FE;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  
    float: right;             /* alinhando à direita */
    margin-right: 40px;       /* afastar um pouco da borda */
  }
  
  /* Hover */
  .btn-add:hover {
    background-color: #8087FE;
    transform: translateY(-2px);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 100px auto 0 auto; /* margem superior e centralização horizontal */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:hover {
    background-color: #f9f9f9;
}
