.form-container {
    width: 100%;
    max-width: 600px;
    margin: 80px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;

    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.form-container p {
    text-align: center;
    margin-bottom: 25px;
    color: #555;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

.form-group input:focus {
    border-color: #8087FE;
}

.btn-submit {
    width: 100%;
    padding: 14px;
    background: #8087FE;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
}

